%h2 This job was posted on the Ruby on Rails Switzerland website.

  %p#notice= notice

= render partial: 'job', locals: { job: @job }

= link_to 'Back to Ruby on Rails Switzerland', root_path
= button_to 'Delete this job', job_path(@job), data: { confirm: 'do you really want to delete this job?' }, method: :delete
