%ul.events.list-unstyled
  - @events.each_with_index do |event, index|
    %li.event.row
      .col-md-2.text-right
        %span.label.label-default= event.time.to_s(:short)
      .col-md-10
        %h3
          = link_to event.name, event.url

        - if event.address
          = event.address

        = render 'participants', participants: event.participants if index == 0
