%h1 Ruby on Rails Switzerland user group

%ul
  - @events.each do |event|
    %li
      %h2= link_to event.name, event.url
      %p= event.time.to_s(:short)
      - if event.address
        %p= event.address
