$primary-color: #e1272c;
$ruby-color: rgb(201, 0, 46);
$dark-blue: rgb(38, 54, 90);
$blue: rgb(35, 86, 155);
$primary-font-color: white;
$font-family: "Roboto Slab";

$base-font-size:             16px;
$font-size-base:             $base-font-size;
$font-size-h1:               32px/$base-font-size + rem;
$font-size-h2:               24px/$base-font-size + rem;
$font-size-h3:               19px/$base-font-size + rem;
$font-size-lead:             18px/$base-font-size + rem;
$font-size-p:                16px/$base-font-size + rem;
$font-size-button:           17px/$base-font-size + rem;

$line-height-h1:             35px/$base-font-size + rem;
$line-height-h2:             28px/$base-font-size + rem;
$line-height-h3:             24px/$base-font-size + rem;
$line-height-lead:           24px/$base-font-size + rem;
$line-height-p:              24px/$base-font-size + rem;

$space:                      16px/$base-font-size + rem;


